.card{
    width: 240px;
    height: 240px;
    border: 2px solid blue;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;              /* optional, center the image */
    margin-top: 20px;

}
.card:hover{
    color: rgb(240, 58, 73);
    font-size: 30px;
}