.Navbar{
  background: #635e52;
   min-height: 70px;
   position: fixed;
   width: 100%;
   text-align: center;
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
   color: white;
   font-size: calc(10px + (24 - 10) * (100vw - 320px) / (1200 - 400));
   z-index: 99;
   white-space: nowrap;
   top: 0;
};

#cgm {
  text-align: center;
}
